<h1><%= @list.name %></h1>

<h2>Movies</h2>

<% @list.bookmarks.each do |bookmark| %>
  <p>
    <%= bookmark.movie.title %>
  </p>
<% end %>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>

<%= link_to "Back to lists", lists_path %>
